<a href="https://colab.research.google.com/github/soueuwilliam/Estudos-R/blob/main/IBS/Aulas/Aula02OperacoesVetorizadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Funções
ImprimiLinha <- function (){ cat('\n---------------------------------------------------\n\n')}

#Trabalhando com vetores

##Operações vetorizadas

In [ ]:
x<-1:5
y<-6:10
ImprimiLinha()
cat('Soma dos vetores x e y: ',x+y,'\n')               #ocorre a soma dos valores de ambos os vetores
ImprimiLinha()
cat('Multiplicação de todo e vetor por 2 é: ',x*2,'\n')               #podemos multiplicar um vetor por um numero
ImprimiLinha()
cat('Elevanto todo o vetor por 2:',x^2,'\n')
ImprimiLinha()
z<-c(x,y) # Concetenando todos o vetor por x e y
cat('Somando o vetor z com o vetor x: ',z+x,'\n')
ImprimiLinha()
w<-1:3
cat('Somando o vetor w com o vetor x: ',w+x, '\n')
ImprimiLinha()

l<-c(T, T, F, T, F, F)
l/2

---------------------------------------------------

Soma dos vetores x e y:  7 9 11 13 15

---------------------------------------------------

Multiplicação de todo e vetor por 2 é:  2 4 6 8 10

---------------------------------------------------

Elevanto todo o vetor por 2: 1 4 9 16 25

---------------------------------------------------

Somando o vetor z com o vetor x:  2 4 6 8 10 7 9 11 13 15

---------------------------------------------------

Warning message in w + x:
“longer object length is not a multiple of shorter object length”

Somando o vetor w com o vetor x:  2 4 6 5 7

---------------------------------------------------

[1] 0.5 0.5 0.0 0.5 0.0 0.0

##Para acessar vetores, usamos [ ]

In [ ]:
letter<-c("x", "y", "z", "w", "j")
ImprimiLinha()
cat('A segundo elemento de um vetor é: ',letter[2],'\n')  #acessa o segundo elemento do vetor
ImprimiLinha()
cat('Os elementos de 2 a 4 são: ',letter[2:4],'\n')   #podemos usar sequencia de valores
ImprimiLinha()
cat('Pegando somente o valor da posição 1  e 4: ',letter[c(1, 4)],'\n')   #usamos a funcao c() para valores nao contiguos
ImprimiLinha()
cat('Deixando de fora valor do vetor na posição 2: ',letter[-2],'\n')  #usamos numeros negativos para excluir um ou mais valores
ImprimiLinha()
cat('Deixando de fora mais de um valor do vetor na posicão 2 e 5: ',letter[c(-2, -5)],'\n')
ImprimiLinha()

idx<-c(1, 4)  #podemos criar indices numericos
cat('Imprimindo valores com base nos indices dos vetores criado: ',letter[idx],'\n')
ImprimiLinha()

x<-1:10
cat('Condicionados o valores que quero usar no vetor: ',x[x>7],'\n')   #podemos usar "<", "==", ">=", etc.
ImprimiLinha()
cat('Condicionados o valores que quero usar com caractere: ',letter[letter>"k"],'\n')  #tambem eh possivel para caracteres
ImprimiLinha()
cat('Condicionados o valores que quero usar com caractere: ',letter[letter<"k"],'\n')  #tambem eh possivel para caracteres
ImprimiLinha()
letter=="z"

---------------------------------------------------

A segundo elemento de um vetor é:  y

---------------------------------------------------

Os elementos de 2 a 4 são:  y z w

---------------------------------------------------

Pegando somente o valor da posição 1  e 4:  x w

---------------------------------------------------

Deixando de fora valor do vetor na posição 2:  x z w j

---------------------------------------------------

Deixando de fora mais de um valor do vetor na posicão 2 e 5:  x z w

---------------------------------------------------

Imprimindo valores com base nos indices dos vetores criado:  x w

---------------------------------------------------

Condicionados o valores que quero usar no vetor:  8 9 10

---------------------------------------------------

Condicionados o valores que quero usar com caractere:  x y z w

---------------------------------------------------

Condicionados o valores que quero usar com caractere:  j

---------------------------------------------------

[1] FALSE FALSE  TRUE FALSE FALSE

##Funções para identificar valores extremos

In [ ]:
set.seed(1)
s<-sample(-1000:1000, 200) #Função criar valores aleatórios

cat('A posição que está o maior valor é a ',which.max(s),'\n')  #procura a posicao do maior valor
ImprimiLinha()
cat('O maior valor é ',max(s),'\n')                  #imprime o maior valor
ImprimiLinha()
cat('O range dos valor é ',range(s),'\n')
ImprimiLinha()

s>0                     #cria um vetor logico
ImprimiLinha()
which(s>0)              #cria um vetor com as posicoes que satisfazem o comando
ImprimiLinha()

#Ex.1: quantos valores de s sao maiores que 0?
cat('O vetor S possue',length(s[s>0]),'valores positivos\n')
ImprimiLinha()

#Ex.2: faca um vetor contendo os valores de S maiores do que 0.
positivos <- c(s[s>0])
positivos
ImprimiLinha()

A posição que está o maior valor é a  126

---------------------------------------------------

O maior valor é  997

---------------------------------------------------

O range dos valor é  -982 997

---------------------------------------------------

  [1]  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE
 [13]  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE FALSE
 [25] FALSE FALSE  TRUE  TRUE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE
 [37] FALSE  TRUE FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE
 [49] FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
 [61]  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE FALSE  TRUE  TRUE FALSE  TRUE
 [73] FALSE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE
 [85]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE FALSE
 [97] FALSE FALSE  TRUE  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE
[109] FALSE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE
[121] FALSE  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE
[133]  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE
[145]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE
[157] FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE
[169]  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE
[181]  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE  TRUE
[193]  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE

---------------------------------------------------

  [1]   1   2   6  10  11  13  14  15  16  18  19  20  21  23  27  28  31  32
 [19]  38  40  42  43  45  50  52  56  61  62  63  66  67  69  70  72  74  75
 [37]  77  78  79  80  81  85  86  87  88  89  90  91  93  94  95  99 100 102
 [55] 105 110 111 113 117 118 119 120 122 123 124 126 130 131 133 134 136 138
 [73] 142 143 145 146 147 148 149 151 153 154 156 161 163 166 168 169 170 177
 [91] 178 181 182 185 187 190 191 192 193 194 198

---------------------------------------------------

O vetor S possue 101 valores positivos

---------------------------------------------------

  [1]  16 859 532 210 330 300 897 973 517 798 864 614 748 128 700 825 624 963
 [19] 984 445 427 947 529 144 707 221 413 303 695  68 425 741 765 394 127 349
 [37] 790 515 861 639 638 548 831 752 199 368 814 133 894  52 164 327 568 684
 [55] 168 653 521 839 513 759  22 126  74 904 313 997 166 465 705  71 739 318
 [73] 237 915 362 369 698  66  24 613 819 651 316 506 645  72 339 265 463 960
 [91] 957 879 588 379  88 147 100 241 633 217 566

---------------------------------------------------

##Funcões de ordenamento

In [3]:
x<-c(3, 8, 2, 1, 5, 9, 7, 7, 3)
ImprimiLinha()
cat('O vetor é ',x,'\n')
ImprimiLinha()
cat('Ordenando o vetor em ordem crescente ',sort(x), '\n')  #ordena um vetor
ImprimiLinha()
cat('Ordenando o vetor em ordem descrescente ',sort(x, decreasing = T), '\n')
ImprimiLinha()
cat('Mostra por quais posições devemos começar a organizar dataframe',order(x),'\n') #pega a ordem de cada elemento para torna-lo crescente
ImprimiLinha()
cat('Mudando as ordens do vetor randomicament',sample(x),'\n') #randomiza
ImprimiLinha()
cat('Ele seleciona somente os valores unicos',unique(x)) #elimina as replicatas
ImprimiLinha()
cat('Ele criar um vetor logico dizendo se o valor é duplicado ou não',duplicated(x)) #logico
ImprimiLinha()

#Ex.3: quantos duplicados existem em x?

#Opção 1
tamDuplicadas <- duplicated(x)
length(tamDuplicadas[tamDuplicadas == TRUE])
ImprimiLinha()
#opção 2
sum(duplicated(x))
ImprimiLinha()

---------------------------------------------------

O vetor é  3 8 2 1 5 9 7 7 3

---------------------------------------------------

Ordenando o vetor em ordem crescente  1 2 3 3 5 7 7 8 9

---------------------------------------------------

Ordenando o vetor em ordem descrescente  9 8 7 7 5 3 3 2 1

---------------------------------------------------

Mostra por quais posições devemos começar a organizar dataframe 4 3 1 9 5 7 8 2 6

---------------------------------------------------

Mudando as ordens do vetor randomicament 3 3 2 7 8 1 5 9 7

---------------------------------------------------

Ele seleciona somente os valores unicos 3 8 2 1 5 9 7
---------------------------------------------------

Ele criar um vetor logico dizendo se o valor é duplicado ou não FALSE FALSE FALSE FALSE FALSE FALSE FALSE TRUE TRUE
---------------------------------------------------

[1] 2

---------------------------------------------------

[1] 2

---------------------------------------------------

#Trabalhando com data.frames

##para acessar data.frames e listas usamos [], [[]] ou $

In [7]:
dt<-data.frame(number=c(1, 2, 3, 4, 5),
               letter = c("x", "y", "z", "w", "j"),
               logical = c(TRUE, FALSE, FALSE, TRUE, FALSE))

dt[[1]]              # [[ ]] acessa cada coluna por posicao
dt[,1]               # [ ] acessa as coordenadas [linha, coluna]
dt$number            # $ acessa cada coluna por nome

[1] 1 2 3 4 5

[1] 1 2 3 4 5

[1] 1 2 3 4 5

##Data.frames possuem colnames e rownames

In [8]:
colnames(dt)
row.names(dt)

[1] "number"  "letter"  "logical"

[1] "1" "2" "3" "4" "5"


##podemos alterar colanmes e rownames

In [9]:
row.names(dt)<-c("a", "b", "c", "d", "e")
colnames(dt)[2]<-"letras"     #alteramos unicamente a posicao 2

##podemos alterar valores especificos de um data.frame

In [10]:
dt[3,1]<-"10"
dt$logical<-as.numeric(dt$logical)
dt$letras<-NA

In [11]:
dt

  number letras logical
a 1      NA     1
b 2      NA     0
c 10     NA     0
d 4      NA     1
e 5      NA     0

##Podemos verificar as ocorrencias de um data.frame em outro

**NA** é a notação para dados faltantes no dataframe

In [12]:
biometria<-data.frame(nomes=c("Carlos", "Roberto", "Olivio", "Joel"),
                      altura=c(180, 187, 155, 168),
                      peso=c(80, 90, 98, 64))
esportes<-data.frame(nomes=c("Carlos", "Roberto", "Olivio", "Jomar"),
                     esportes=c("futebol", "remo", "sumo", "maratona"))

In [13]:
biometria$nomes%in%esportes$nomes         #constroi um logico

[1]  TRUE  TRUE  TRUE FALSE

In [14]:
idx<-biometria$nomes%in%esportes$nomes    #pode ser usado como indice

In [15]:
x<-biometria[idx,]

##ordenando data.frames por uma coluna

In [16]:
biometria<-biometria[with(biometria, order(altura)), ]

In [17]:
biometria

  nomes   altura peso
3 Olivio  155    98
4 Joel    168    64
1 Carlos  180    80
2 Roberto 187    90

##unindo data.frames com a funcao merge()

In [23]:
unido<-merge(biometria, esportes, by="nomes")   #OBS.:Independe da ordem dos data.frames!
#A busca eh feita pelo nome, nao pela ordem!
#O resultado sempre virah em ordem alfabetica!

unido<-merge(biometria, esportes, by="nomes", all.x=T)#com todos presentos no primeiro
unido<-merge(biometria, esportes, by="nomes", all.y=T)#com todos presentos no segundo
unido<-merge(biometria, esportes, by="nomes", all=T)#com todos presentos
#OBS.: nesse caso, as informacoes faltantes sao preenchidas por NA!

In [22]:
unido

  nomes   altura peso esportes
1 Carlos  180    80   futebol
2 Joel    168    64   NA
3 Olivio  155    98   sumo
4 Roberto 187    90   remo

#Acessando listas

In [24]:
ls<-list(a=c("x", "y", "z", "w", "j"), b=1:4, c=c("Joca", "Bia", "Licurgo"), d=dt)

ls[1]
ls[[1]]
ls$a

class(ls[1])
class(ls[[1]])

ls[[c(3,2)]]      #posicao na lista e posicao no elemento

$a
[1] "x" "y" "z" "w" "j"

[1] "x" "y" "z" "w" "j"

[1] "x" "y" "z" "w" "j"

[1] "list"

[1] "character"

[1] "Bia"